/* SP HEROS */

.faction-bernhardt:hover:after {
    content: url(../img/factions/bernhardt.png);
    display: block;
    margin-left: -2vw;
}

.faction-leon:hover:after {
    content: url(../img/factions/leon.png);
    display: block;
    margin-left: -2vw;
}

.faction-matthew:hover:after {
    content: url(../img/factions/matthew.png);
    display: block;
    margin-left: -2vw;
}

.faction-almeda:hover:after {
    content: url(../img/factions/almeda.png);
    display: block;
    margin-left: -2vw;
}

/* SP HEROS */

.faction-sho:hover:after {
    content: url(../img/factions/sho.png);
    display: block;
    margin-left: -2vw;
}

.faction-archanfel:hover:after {
    content: url(../img/factions/archanfel.png);
    display: block;
    margin-left: -2vw;
}

.faction-agito:hover:after {
    content: url(../img/factions/agito.png);
    display: block;
    margin-left: -2vw;
}

.faction-patricia:hover:after {
    content: url(../img/factions/patricia.png);
    display: block;
    margin-left: -2vw;
}

.faction-gunn:hover:after {
    content: url(../img/factions/gunn.png);
    display: block;
    margin-left: -2vw;
}

.faction-jayce:hover:after {
    content: url(../img/factions/jayce.png);
    display: block;
    margin-left: -2vw;
}

.faction-isolde:hover:after {
    content: url(../img/factions/isolde.png);
    display: block;
    margin-left: -2vw;
}

.faction-hoffman:hover:after {
    content: url(../img/factions/hoffman.png);
    display: block;
    margin-left: -2vw;
}

.faction-eshean:hover:after {
    content: url(../img/factions/eshean.png);
    display: block;
    margin-left: -2vw;
}

.faction-nemia:hover:after {
    content: url(../img/factions/nemia.png);
    display: block;
    margin-left: -2vw;
}

.faction-andriole:hover:after {
    content: url(../img/factions/andriole.png);
    display: block;
    margin-left: -2vw;
}

.faction-apotheosis:hover:after {
    content: url(../img/factions/apotheosis.png);
    display: block;
    margin-left: -2vw;
}

.faction-lina:hover:after {
    content: url(../img/factions/lina.png);
    display: block;
    margin-left: -2vw;
}

.faction-zelgadiss:hover:after {
    content: url(../img/factions/zelgadiss.png);
    display: block;
    margin-left: -2vw;
}

.faction-roland:hover:after {
    content: url(../img/factions/roland.png);
    display: block;
    margin-left: -2vw;
}

.faction-precia:hover:after {
    content: url(../img/factions/precia.png);
    display: block;
    margin-left: -2vw;
}

.faction-tourmilk:hover:after {
    content: url(../img/factions/tourmilk.png);
    display: block;
    margin-left: -2vw;
}

.faction-elise:hover:after {
    content: url(../img/factions/elise.png);
    display: block;
    margin-left: -2vw;
}


.faction-nymph:hover:after {
    content: url(../img/factions/nymph.png);
    display: block;
    margin-left: -2vw;
}

.faction-tatalia:hover:after {
    content: url(../img/factions/tatalia.png);
    display: block;
    margin-left: -2vw;
}

.faction-kirika:hover:after {
    content: url(../img/factions/kirika.png);
    display: block;
    margin-left: -2vw;
}

.faction-sonia:hover:after {
    content: url(../img/factions/sonia.png);
    display: block;
    margin-left: -2vw;
}

.faction-amadeus:hover:after {
    content: url(../img/factions/amadeus.png);
    display: block;
    margin-left: -2vw;
}

.faction-sagny:hover:after {
    content: url(../img/factions/sagny.png);
    display: block;
    margin-left: -2vw;
}

.faction-awakener:hover:after {
    content: url(../img/factions/awakener.png);
    display: block;
    margin-left: -2vw;
}

.faction-agnes:hover:after {
    content: url(../img/factions/agnes.png);
    display: block;
    margin-left: -2vw;
}

.faction-elaine:hover:after {
    content: url(../img/factions/elaine.png);
    display: block;
    margin-left: -2vw;
}

.faction-grenshiel:hover:after {
    content: url(../img/factions/grenshiel.png);
    display: block;
    margin-left: -2vw;
}

.faction-yoaconna:hover:after {
    content: url(../img/factions/yoaconna.png);
    display: block;
    margin-left: -2vw;
}

.faction-polyal:hover:after {
    content: url(../img/factions/polyal.png);
    display: block;
    margin-left: -2vw;
}

.faction-lugner:hover:after {
    content: url(../img/factions/lugner.png);
    display: block;
    margin-left: -2vw;
}

.faction-riobec:hover:after {
    content: url(../img/factions/riobec.png);
    display: block;
    margin-left: -2vw;
}

.faction-theon:hover:after {
    content: url(../img/factions/theon.png);
    display: block;
    margin-left: -2vw;
}

.faction-swordoflightshadow:hover:after {
    content: url(../img/factions/swordoflightshadow.png);
    display: block;
    margin-left: -2vw;
}

.faction-girlinshell:hover:after {
    content: url(../img/factions/girlinshell.png);
    display: block;
    margin-left: -2vw;
}

.faction-lightbringer:hover:after {
    content: url(../img/factions/lightbringer.png);
    display: block;
    margin-left: -2vw;
}

.faction-adankelmo:hover:after {
    content: url(../img/factions/adankelmo.png);
    display: block;
    margin-left: -2vw;
}

.faction-gintoki:hover:after {
    content: url(../img/factions/gintoki.png);
    display: block;
    margin-left: -2vw;
}

.faction-kagura:hover:after {
    content: url(../img/factions/kagura.png);
    display: block;
    margin-left: -2vw;
}

.faction-ricky:hover:after {
    content: url(../img/factions/ricky.png);
    display: block;
    margin-left: -2vw;
}

.faction-mcclaine:hover:after {
    content: url(../img/factions/mcclaine.png);
    display: block;
    margin-left: -2vw;
}

.faction-julian:hover:after {
    content: url(../img/factions/julian.png);
    display: block;
    margin-left: -2vw;
}

.faction-wanderduel:hover:after {
    content: url(../img/factions/wanderduel.png);
    display: block;
    margin-left: -2vw;
}

.faction-rostam:hover:after {
    content: url(../img/factions/rostam.png);
    display: block;
    margin-left: -2vw;
}

.faction-ashumere:hover:after {
    content: url(../img/factions/ashumere.png);
    display: block;
    margin-left: -2vw;
}

.faction-kaguya:hover:after {
    content: url(../img/factions/kaguya.png);
    display: block;
    margin-left: -2vw;
}

.faction-carolian:hover:after {
    content: url(../img/factions/carolian.png);
    display: block;
    margin-left: -2vw;
}

.faction-azusa:hover:after {
    content: url(../img/factions/azusa.png);
    display: block;
    margin-left: -2vw;
}

.faction-oboro:hover:after {
    content: url(../img/factions/oboro.png);
    display: block;
    margin-left: -2vw;
}

.faction-selvari:hover:after {
    content: url(../img/factions/selvari.png);
    display: block;
    margin-left: -2vw;
}

.faction-alicia:hover:after {
    content: url(../img/factions/alicia.png);
    display: block;
    margin-left: -2vw;
}

.faction-theconsul:hover:after {
    content: url(../img/factions/theconsul.png);
    display: block;
    margin-left: -2vw;
}

.faction-ironchancellor:hover:after {
    content: url(../img/factions/ironchancellor.png);
    display: block;
    margin-left: -2vw;
}

.faction-michelle:hover:after {
    content: url(../img/factions/michelle.png);
    display: block;
    margin-left: -2vw;
}

.faction-gustav:hover:after {
    content: url(../img/factions/gustav.png);
    display: block;
    margin-left: -2vw;
}

.faction-emperorlovina:hover:after {
    content: url(../img/factions/emperorlovina.png);
    display: block;
    margin-left: -2vw;
}

.faction-arksaint:hover:after {
    content: url(../img/factions/arksaint.png);
    display: block;
    margin-left: -2vw;
}

.faction-elma:hover:after {
    content: url(../img/factions/elma.png);
    display: block;
    margin-left: -2vw;
}

.faction-kertesz:hover:after {
    content: url(../img/factions/kertesz.png);
    display: block;
    margin-left: -2vw;
}

.faction-mariandel:hover:after {
    content: url(../img/factions/mariandel.png);
    display: block;
    margin-left: -2vw;
}